[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-configurations = "*"
pillow = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
pyjwt = "==1.7.1"
spotipy = "*"
python3-discogs-client = "*"
openai = "*"
django-rest-registration = "*"

[dev-packages]

[requires]
python_version = "3.10"
