.album-grid-ran {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    
  }
  
  .album-card {
    display: flex;
    height:14rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .album-card a {
    transform: translateY(-5px);
    text-decoration: none;
  }

  .album-card:hover {
    transform: translateY(-7px);
  }
  
  .album-card a .album-image {
    margin-top: 2rem;
    width: 50%;
    height: 50%;
    border-radius: 6px;
  }
  
  .album-card a .album-title {
    margin-top: 0.25rem;
    font-size: 1rem;
    color: #162a1a;
  }
  
  .album-card a .album-year {
    color: gray;
  }

  .truncate {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }


  .fade-in {
    animation: slideInAnimation 0.5s ease-in-out;
  }
  
  @keyframes slideInAnimation {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

 .home-title{
  width: 70%;
  margin: auto;
  margin-top: 1rem;
  font-size:larger;
  text-align: center;
 }
 

 .pagination-buttons{
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 1rem;
 }

  .direction-icon {
    color: rgb(23, 45, 27);
    transition: transform 0.3s ease;
    margin: 0.3rem;
    filter:drop-shadow(3px 2px 1px rgba(103, 88, 88, 0.458))
  }

  .direction-icon:hover {
    transform: scale(1.2); /* Apply scale transformation on hover */
  }

  .direction-icon:active {
    transform: scale(0.8); /* Apply scale transformation when clicked */
  }