.main-header {
  background-color: #1d3421;
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
}
  
.main-header a {
    color: #ffffff;
    text-decoration: none;
  }
  
.main-header a:hover {
    color: #767676;
  }

.main-header span {
  color: #ffffff;
}

.header-image {
  margin-left: 2rem;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.header-image:hover {
  transform: translateX(7px);
}



.header-item{
  margin-left: 1rem;
}
.authsection {
  margin: 1rem;
  text-align: left;
  white-space: nowrap;
}

.authsection a {
  margin-left: 1rem;
}

.searchbar {
  width: 18rem;
  float: right;
}

.main-header .dropdown-menu {
  background-color: #0d1a10;
  transition-delay: 0.3s;
  z-index: 1000;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transition: all 1s ease-in;
}



.dropdown:hover .dropdown-menu {
  display: block;
  background-color: #1d3421;
}

.dropdown-menu .dropdown-item {
  height: 1.5rem;
  line-height: 0.5rem;
  font-size: 0.9rem;
  align-items: center;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #233f28; /* Custom background color for hovered items */
  color: rgb(196, 191, 199); /* Custom text color for hovered items */
}

