.login-pop-content {
  width: 25rem;
  height: 60%;
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  border-radius: 5px; 
}
  .login-card {
    color: #f9f9f9;
    background-color: #1f3a27;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-color: black;
    position: relative;

  }

  .login-text-center {
    margin-top: 1rem;
    text-align: center;
    font-size: smaller;
  }

  .close-icon:hover{
    color: grey !important;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: small;
  }
  
  .form-control:focus {
    box-shadow: 0 0 0 0.2rem #ffffff !important;
    border: 1px solid #2b5431;
    outline: none;
    border-color: #090b0d;
    box-shadow: 0 0 10px #0f0f0f;
  }


.login-inputs .form-control {
    height:2rem;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

.login-inputs .form-control {
background-color: #1f3a27;
color: #ececec;
} 

.login-inputs .form-control:focus {
  background-color: #1f3a27;
  color: #ececec;
  outline: none !important;
  box-shadow: none !important;
  border-color: #fafafa;
  } 

.mb-3 .form-control::placeholder {
    font-size: 0.9rem;
  }

.login-inputs{
  margin: auto;
  width: 70%;
}
  
.login-inputs .text-dangers {
    color: #ea966f;
    margin-top: 3px;
    font-size: 0.8rem;
  }
  
  /* Center the error message */
  .text-center {
    font-size: larger;
  }
  .login-text-danger {
    color: red;
    font-size: small;
  }
  .login-button-container{
    margin: auto;
  }
  /* Style the login button */
  .login-button {
    background-color: rgb(50, 93, 50)  !important;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-color: black  !important;
    width: 12rem;
    margin:0.5rem;
    padding: 0.3rem;
  }

  .login-button:disabled {
    background-color: #999;
  }

  .login-button:hover {
    background-color: rgb(57, 105, 57) !important;
  }

  .login-info {
    font-size: small;
  }
  
  
  .login-info a {
    color: #7abc84;
  }
  
  .login-info a:hover {
    text-decoration: underline;
  }